.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App img {
  float: left;
}

.App .images {
  clear: both;
}

.App .user {
  float: left;
} 

.user {
  margin:0 5px;
  padding:10px;
  background:white;
  border:solid 1px #afafaf;
  border-radius:5px;
  text-align: left;

}
.user-header {
  font-weight: bold;
  font-size: 15px;
  color:#4f4f4f;
}
.user hr {
  border-color: #dfdfdf;
  margin:3px 1px;
}
.user-space {
  list-style: none;
  margin:5px 0;
  padding:0;
  
}
.user-space-entry {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
