:root {
  --light-gray: #efefef;
  --medium-gray: #eaebef;
  --near-black: #333337;
  --dark-gray: #8b8b8b;

  --main-fonts: 'Proxima Nova', 'Helvetica Neue', Arial, sans-serif;
  --mono-fonts: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background: var(--light-gray);
  font-family: var(--main-fonts);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--mono-fonts);
}
